* {
    margin: 0;
    padding: 0;
}
.alinhar-corpo {
    width: 100vw;
    height: 100vh;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}
.corpo {
    position: absolute;
}
.base-azul {
    position: absolute;
    width: 100px;
    height: 200px;
    top: 400px;
    left: 1950px;
    background-color: black;
    display: flex;
    justify-content: center;
}
.base-azul-barra {
    margin-top: -100px;
    width: 500px;
    height: 30px;
    position: absolute;
    background-color: brown;
}
.base-vermelho {
    position: absolute;
    width: 100px;
    height: 200px;
    top: 400px;
    left: -50px;
    background-color: black;
    display: flex;
    justify-content: center;
}
.base-vermelho-barra {
    margin-top: -100px;
    width: 500px;
    height: 30px;
    position: absolute;
    background-color: brown;
}
.quadrado {
    width: 2000px;
    height: 1000px;
    border: 2px solid red;
}
.alvo-circulo {
    width: 50px;
    height: 50px;
    background-color: rgb(68, 218, 49);
    border-radius: 50%;
    position: absolute;
    top: 200px;
    left: 500px;
}
.fuzileiro {
    width: 50px;
    height: 50px;
    background-color: rgb(34, 125, 228);
    border-radius: 50%;
    position: absolute;
    display: flex;
    justify-content: center;
    /* box-shadow: 0px 0px 0px 125px rgba(0, 247, 255, 0.25); */
}
.barra-vida {
    margin-top: -30px;
    height: 10px;
    background-color: brown;
    position: absolute;
}
.obstaculo {
    width: 100px;
    height: 500px;
    position: absolute;
    top: 200px;
    left: 300px;
    background-color: rgb(53, 177, 29);
}
.obstaculo1 {
    width: 100px;
    height: 550px;
    position: absolute;
    top: 450px;
    left: 1000px;
    background-color: rgb(53, 177, 29);
}
.obstaculo2 {
    width: 100px;
    height: 500px;
    position: absolute;
    top: 0px;
    left: 1150px;
    background-color: rgb(53, 177, 29);
}