* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body {
    background-image: url(../img/background.png);
    background-size: cover;
}

#memoria {
    width: 0;
    height: 0;
    overflow: hidden;
    position: absolute;
}
.alinhar-buttons {
    width: calc(100vw - 50px);
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
}
.esquerda {
    display: flex;
}
.direita {
    display: flex;
}
.meio {
    display: flex;
    gap: 50px;
}
.recursos {
    padding: 50px;
    display: flex;
    font-size: 60px;
    font-weight: 700;
    background-color: darkkhaki;
    border: 10px solid rgb(122, 107, 65);
    gap: 20px;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(102, 88, 48);
}
.recursos p {
    color: rgb(114, 99, 59);
}
.button-soldados {
    width: 300px;
    height: 150px;
    border-radius: 0 0 50px 0;
    margin-right: -50px;
    background-color: burlywood;
    box-shadow: 0 10px 20px black;
    transition: all 0.2s;
    z-index: 110;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.direita .button-soldados {
    border-radius: 0 0 0 50px;
    z-index: 108    ;
}
.button-soldados:hover {
    width: 400px;
}
.button-soldados .icone {
    background-color: blue;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.button-brocas {
    width: 300px;
    height: 150px;
    border-radius: 0 0 50px 0;
    margin-right: -50px;
    background-color: burlywood;
    box-shadow: 0 5px 20px black;
    transition: all 0.2s;
    z-index: 109;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.direita .button-brocas {
    border-radius: 0 0 0 50px;
    z-index: 109;
}
.button-brocas:hover {
    width: 400px;
}
.button-brocas .icone {
    background-color: brown;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.button-torres {
    width: 300px;
    height: 150px;
    border-radius: 0 0 50px 0;
    margin-right: -50px;
    background-color: burlywood;
    box-shadow: 0 5px 20px black;
    transition: all 0.2s;
    z-index: 108;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.direita .button-torres {
    border-radius: 0 0 0 50px;
    z-index: 110;
}
.button-torres:hover {
    width: 400px;
}
.button-torres .icone {
    background-color: darkgreen;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.button-upgrades {
    width: 300px;
    height: 150px;
    border-radius: 0 0 50px 0;
    margin-right: -50px;
    background-color: burlywood;
    box-shadow: 0 5px 20px black;
    transition: all 0.2s;
    z-index: 107;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.direita .button-upgrades {
    border-radius: 0 0 0 50px;
    z-index: 110;
}
.button-upgrades:hover {
    width: 400px;
}
.button-upgrades .icone {
    background-color: darkorchid;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}


.alinhar-corpo {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lateral {
    display: flex;
    height: 100vh;
    z-index: 20;
    position: absolute;
}

.lateral-esquerda {
    left: 0;
}

.lateral-direita {
    right: 0;
}

.lateral-soldados {
    width: 0;
    height: calc(100vh - 300px);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: rgb(158, 111, 23);
    transition: all 1s;
    padding-top: 300px;
    gap: 50px;
    background-image: url(../img/fundoClashDosRoyale.png);
    background-size: cover;
}
.soldado-fuzileiro {
    width: 1400px;
    height: 400px;
    background-color: rgb(69, 109, 218);
    font-size: 60px;
    color: rgb(231, 241, 255);
    cursor: pointer;
    transition: all 0.2s;
    padding: 20px 40px;
    display: flex;
}
.soldado-fuzileiro .preco-unidade {
    display: flex;
    gap: 15px;
    flex-direction: row;
}
.preco-unidade .letras {
    display: flex;
}
.soldado-fuzileiro p:first-child {
    font-size: 90px;
    font-weight: 700;
}

.soldado-fuzileiro div {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 100%;
    justify-content: space-around;
}
.soldado-fuzileiro img {
    margin-left: 0;
}
.soldado-fuzileiro:hover {
    background-color: rgb(46, 78, 219);
}



.lateral-brocas {
    width: 0;
    gap: 50px;
    display: flex;
    overflow: hidden;
    transition: all 1s;
    padding-top: 300px;
    flex-direction: column;
    height: calc(100vh - 300px);
    background-color: rgb(158, 92, 48);
    background-image: url(../img/fundoClashDosRoyale.png);
    background-size: cover;
    filter: hue-rotate(160deg);
}
.receber-broca {
    width: 0;
    height: 0;
    overflow: hidden;
    position: relative;
    font-size: 50px;
    padding: 0;
}
.espaco-broca {
    filter: hue-rotate(-160deg);
    width: 1400px;
    height: 400px;
    color: black;
    cursor: pointer;
    font-size: 60px;
    position: relative;
    transition: all 0.2s;
    background-color: rgb(190, 142, 102);
}
.espaco-escolhas {
    opacity: 0;
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    align-items: center;
    transition: all 0.5s;
    justify-content: space-around;
}
.broca-escolha {
    display: block;
    width: 210px;
    height: 280px;
    justify-content: space-between;
    padding: 10px;
    transition: all 0.3s;
}
.broca-escolha div {
    display: flex;
    justify-content: center;
    gap: 15px;
}
.broca-ouro {
    background-color: rgb(236, 199, 117);
    border: 20px solid rgba(90, 90, 90, 0);
}
.broca-ouro:hover {
    border: 20px solid rgb(210, 209, 219);
}
.broca-comida {
    background-color: rgb(165, 91, 42);
    border: 20px solid rgba(90, 90, 90, 0);
}
.broca-comida:hover {
    border: 20px solid rgb(210, 209, 219);
}
.broca-recurso {
    background-color: cadetblue;
    border: 20px solid rgba(90, 90, 90, 0);
}
.broca-recurso:hover {
    border: 20px solid rgb(210, 209, 219);
}
.espaco-broca-ouro {
    width: 100%;
    height: 100%;
    font-size: 50px;
    position: absolute;
}
.broca-nome {
    margin: 50px 0 0 50px;
    font-size: 70px;
    font-weight: 700;
    display: flex;
    gap: 20px;
}
.broca-stats {
    margin: 0 0 0 50px;
    display: flex;
    gap: 10px;
}
.broca-upigrade {
    gap: 20px;
    left: 50px;
    bottom: 50px;
    display: flex;
    position: absolute;
    border-radius: 10px;
    padding: 15px;
    background-color: rgb(151, 115, 85);
}
.broca-venda {
    gap: 20px;
    display: flex;
    margin-left: 50px;
}
.broca-valor-venda {
    margin-right: -15px;
}
.upigrade-preco {
    margin-right: -15px;
}
.broca-deletar {
    right: 50px;
    bottom: 50px;
    position: absolute;
    border-radius: 10px;
    padding: 15px;
    background-color: rgb(151, 115, 85);
}

.lateral-torres {
    width: 0;
    gap: 50px;
    display: flex;
    overflow: hidden;
    transition: all 1s;
    padding-top: 300px;
    flex-direction: column;
    height: calc(100vh - 300px);
    background-color: rgb(158, 92, 48);
    background-image: url(../img/fundoClashDosRoyale.png);
    background-size: cover;
    filter: hue-rotate(230deg);
}
.container-torre {
    width: 1400px;
    height: 400px;
    background-color: rgb(65, 141, 50);
    font-size: 60px;
    color: rgb(231, 241, 255);
    cursor: pointer;
    transition: all 0.2s;
    padding: 20px 40px;
    display: flex;
    filter: hue-rotate(-230deg);
}
.container-torre .preco-torre {
    display: flex;
    gap: 15px;
    flex-direction: row;
}
.preco-torre .letras {
    display: flex;
}
.container-torre p:first-child {
    font-size: 90px;
    font-weight: 700;
}

.container-torre div {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 100%;
    justify-content: space-around;
}
.container-torre img {
    margin-left: 0;
}
.container-torre:hover {
    background-color: rgb(64, 179, 41);
}



.lateral-upgrades {
    width: 0;
    gap: 50px;
    display: flex;
    overflow: hidden;
    transition: all 1s;
    padding-top: 300px;
    flex-direction: column;
    height: calc(100vh - 300px);
    background-color: rgb(158, 92, 48);
    background-image: url(../img/fundoClashDosRoyale.png);
    background-size: cover;
    filter: hue-rotate(70deg);
}
.container-upgrade {
    width: 1400px;
    height: 400px;
    background-color: rgb(46, 26, 161);
    font-size: 60px;
    color: rgb(231, 241, 255);
    cursor: pointer;
    transition: all 0.2s;
    padding: 20px 40px;
    display: flex;
    filter: hue-rotate(-70deg);
}
.container-upgrade .preco-upgrade {
    display: flex;
    gap: 15px;
    flex-direction: row;
}
.preco-upgrade .letras {
    display: flex;
}
.container-upgrade p:first-child {
    font-size: 90px;
    font-weight: 700;
}
.container-upgrade div {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 100%;
    justify-content: space-around;
}
.container-upgrade img {
    margin-left: 0;
}
.container-upgrade:hover {
    background-color: rgb(77, 58, 184);
}
.container-upgrade div .preco-descricao {
    width: 840px;
    text-align: justify;
}
#upgrade-esquerda-torres {
    height: 500px;
}
#upgrade-direita-torres {
    height: 500px;
}



.lateral-mostrar-upgrade {
    width: 0;
    height: calc(100vh - 300px);
    padding-top: 300px;
    gap: 50px;
    overflow: hidden;
    transition: all 1s;
    flex-direction: column;
    background-color: rgb(158, 92, 48);
    background-image: url(../img/fundoClashDosRoyale.png);
    background-size: cover;
    filter: hue-rotate(320deg);
}
.lateral-mostrar-upgrade h2 {
    font-size: 96px;
    color: rgb(231, 241, 255);
}
.lateral-mostrar-upgrade h3 {
    font-size: 80px;
    color: rgb(205, 220, 241);
}
.lateral-mostrar-upgrade div {
    width: 1200px;
    padding: 0 100px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.lateral-mostrar-upgrade div div{
    padding: 0;
    display: flex;
    flex-direction: row;
    font-size: 80px;
    color: rgb(205, 220, 241);
}
.mostrar-upgrade-comprar {
    font-size: 96px;
    padding: 30px 0;
    color: rgb(205, 220, 241);
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.2s;
    background-color: rgb(46, 26, 161);
}
.mostrar-upgrade-comprar:hover {
    background-color: rgb(58, 35, 189);
}

.quadriculado {
    opacity: 0;
    z-index: 11;
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    transition: all 0.5s;
    flex-direction: column;
}
.linha {
    width: 100%;
    height: 10%;
    display: flex;
}
.coluna {
    width: 5%;
    height: 100%;
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: center;
    justify-content: center;
}
.coluna-quadrado {
    width: 65%;
    height: 65%;
    opacity: 0.4;
    transition: 0.2s;
    transition-property: opacity, height, width;
    background-color: rgba(15, 195, 201);
}
.coluna-quadrado:hover {
    width: 100%;
    height: 100%;
    opacity: 0.6;
}

.corpo {
    z-index: 10;
    scale: 2;
    position: relative;
    background-image: url(../img/grama.avif);
    filter: brightness(120%);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* box-shadow: 0 100px 500px 200px rgb(255, 255, 255); */
}
.base-azul {
    position: absolute;
    width: 100px;
    height: 200px;
    top: 400px;
    left: -100px;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    background-color: rgb(76, 101, 156);
    display: flex;
    justify-content: center;
}
.base-azul-barra {
    margin-top: -100px;
    width: 500px;
    height: 30px;
    position: absolute;
    background-color: brown;
}
.base-vermelho {
    position: absolute;
    width: 100px;
    height: 200px;
    top: 400px;
    left: 2000px;
    background-color: rgb(153, 58, 58);
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    display: flex;
    justify-content: center;
}
.base-vermelho-barra {
    margin-top: -100px;
    width: 500px;
    height: 30px;
    position: absolute;
    background-color: brown;
}


.quadrado {
    width: 2000px;
    height: 1000px;
}

.fuzileiro {
    width: 50px;
    height: 50px;
    background-color: rgb(34, 125, 228);
    border-radius: 50%;
    position: absolute;
    display: flex;
    justify-content: center;
    /* box-shadow: 0px 0px 0px 125px rgba(0, 247, 255, 0.25); */
}
.torre {
    width: 50px;
    height: 50px;
    background-color: rgb(165, 139, 105);
    background-image: url('../img/construcao-quebrado.webp');
    background-size: 100px;
    border-radius: 10px;
    position: absolute;
    display: flex;
    justify-content: center;
    /* box-shadow: 0px 0px 0px 125px rgba(0, 247, 255, 0.25); */
}
.barra-vida {
    margin-top: -30px;
    height: 10px;
    background-color: brown;
    position: absolute;
}

.torre-range {
    background-color: brown;
    position: absolute;
    border-radius: 50%;
    opacity: 0.2;
}

/*PAREDES*/
.obstaculo {
    position: absolute;
    background-image: url(../img/pedra.jpg);
    background-size: cover;
    box-shadow: 0px 0px 30px black;
}
.ob1{
    height: 600px;
    width: 100px;
    left: 300px;
    top: 200px;
}
.ob2{
    height: 800px;
    width: 100px;
    left: 800px;
    top: 200px;
}
.ob3{
    height: 800px;
    width: 100px;
    left: 1100px;
    top: 0px;
}
.ob4{
    height: 600px;
    width: 100px;
    left: 1600px;
    top: 200px;
}

.ponto {
    width: 2px;
    height: 2px;
    position: absolute;
    background-color: azure;
}

.ponto2 {
    width: 10px;
    height: 10px;
    position: absolute;
    background-color: black;
}